<div class="page container-fluid">
  <div class="row">
    <div class="col-md-6">

      <div id="user-list-card" class="card">
        <div class="card-header">
          <h2>User List</h2>
        </div>
        <div class="card-body">
          <input #userFilter type="text" placeholder="Search" (input)="filterUsers(userFilter.value)"
                 (keyup)="filterUsers(userFilter.value)" (click)="filterUsers(userFilter.value)">

          <div class="list-group">
            <div *ngFor="let user of (adminState | async).userList | paginate: {
              id: 'users',
              itemsPerPage: (adminState | async).userPage.size,
              currentPage: (adminState | async).userPage.number + 1,
              totalItems: (adminState | async).userPage.totalElements
            }"
                 class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="list-icon">
                <fa-icon [icon]="['fas', 'user']"></fa-icon>
              </div>
              <div>
                <h5 class="mb-1">{{ user.name }}</h5>
                <div><b>Email:</b> {{ user.email }}</div>
                <div><b>Role:</b> {{ user.role }}</div>
              </div>

            </div>
          </div>

          <div class="has-text-centered">
            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls (pageChange)="getPage($event)" id="users"></pagination-controls>
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-6">

      <h2>Paging</h2>
      {{ ((adminState | async).userPage) | json }}
    </div>
  </div>
</div>
