@import 'variables';
.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

#videoclips {
  img {
    transform: scale(1);
    transition: .3s ease-in-out;
    width: 100%;
    &:hover {
      transform: scale(1.1);
    }
  }
  .video {
    padding: 0.5rem;
    figure {
      margin: 0;
      figcaption {
        padding-top: 0.5rem;
      }
    }
  }
}
